
@media (min-width: 1222px) and (max-width : 1344px){

	*{
		padding: 0;
		box-sizing: border-box;
	}

	html,body{
		height: 100%;
	}

	body{
		font-size: 100%;
		overflow-x: hidden;	
	}

	.container-fluid{
		padding: 0;
	}

	#masthead
	{
		height: 9vh;
		background-color: rgba(30,26,40,0);

		/* the next two lines are there to make this div stretch the entire width 
		i.e 100%. After making position fixed, the property 'width: 100%' 
		was not working. So this is the hack.
		*/
		position: fixed;
		z-index: 5;
		left: 0; 
		right: 0;

	}

	#hamburger-button{
		display: none;
	}

	#masthead > div
	{
		height: 100%;

		/*border: 2px solid red;*/
	}

	#masthead > div a{
		text-decoration: none;
	}

	.pages{
		float: right;
		height: 100%;

		/*border: 2px solid white;	*/
	}

	.pages span{	
		color: white;
		font-size: 2em;
		font-family: 'News Cycle', sans-serif;
		margin-left: 1.5em;
		margin-right: 1.5em;
		position: relative;
		top: 26%;
		/*border: 2px solid orange;*/
	}

	.pages:hover{
		background-color: rgba(0,0,0,0.5);
	}

	.pages:hover span{
		
		opacity: 1;
	}

	.jumbotron{
		border-radius: 0!important;
		height: 100vh;
	    
	    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../images/black-board-2.jpg');
	    background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../images/black-board-2.jpg');
	    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/black-board-2.jpg');
		background-size: cover;
		background-position: center center; 
		
		margin-bottom: 0;
	}

	#ugly-hack{
		height: 5em;
	}

	#introNote1{

		font-family: 'PT sans', sans-serif;
		font-size: 10em;
		display: inline; /* This is to keep the cursor in the same line*/
		color: #00FFD8;
	}

	#introNote2{
		font-family: 'PT sans', sans-serif;
		font-size: 2.5em;
		display: inline; /* This is to keep the cursor in the same line*/
		color: #00FFD8;
	}

	#introNote3{
		font-family: 'PT sans', sans-serif;
		font-size: 2.5em;
		display: inline; /* This is to keep the cursor in the same line*/
		color: #00FFD8;
	}

	#introNote4{
		font-family: 'PT sans', sans-serif;
		font-size: 2.5em;
		display: inline; /* This is to keep the cursor in the same line*/
		color: #BBFF4C;
	}

	i.fa-angle-down{
		/* Need to center this down arrow */
		position: absolute;
		bottom: 1em;
		left: 50%;
		right: 50%;
		color: white;
		opacity: 0.7;
		animation: bounce 3s infinite;
	}

	@keyframes bounce{
		0% {
			bottom: 0px;
			opacity: 1;
			color: orange;
		}
		
		50% {
			bottom: 50px;
			opacity: 0.6;
		}
		75%{
			bottom: 25px;
			opacity: 0.6;
			color: white;
		}
		100% {
			bottom: 0px;
			opacity: 1;
			color: orange;
		}
	}

	/****************************************/

	#about{
		height: 100vh;
		/*border-bottom: 1px solid lightgrey;*/
	}

	#about > div{
		height: 100%;

		/*border: 1px solid black;*/
	}

	#graffiti-row-1{
		height: 17.5%;

		/*border: 2px solid grey;*/
	}

	#creative{
		height: 100%;
		font-family: 'Ubuntu' , serif;
		font-size: 8rem;
		font-weight: bold;
		padding-left: 0.3em;
		padding-top: 0.10em;
		line-height: 1em;
		color: #5DADE2;

		/*border: 2px solid lightgrey;*/
	}

	#algorithmist{
		height: 100%;
		font-family: 'News Cycle' , serif;
		font-size: 2.9rem;
		font-weight: bold;
		text-align: right;
		padding: 0;
		padding-top: 0.8rem;
		line-height: 1.3em;
		color: rgba(0,0,0,0.7);

		/*border: 2px solid lightgrey;*/
	}

	#algorithmist > span{
		color: #76c143;
		font-size: 3.4rem;
	}


	#graffiti-row-2{
		
		height: 35%;

		/*border: 2px solid grey;*/
	}

	#geek-n-gta{
		height: 100%;
		padding: 0;
		
		/*border: 2px solid lightgrey;*/
	}

	#geek{
		height: 50%;
		font-family: 'Ubuntu' , serif;
		font-size: 9rem;
		font-weight: bold;
		padding-left: 0.3em;
		line-height: 1em;
		color: rgba(0,0,0,0.7);

		/*border: 2px solid lightgrey;*/
	}

	#gta{
		height: 50%;
		font-size: 3.6rem;
		font-family: 'News Cycle',serif;
		font-weight: bold;
		padding-left: 0.8em;
		text-align: right;

		line-height: 1.3em;
		color: #DF5D86;

		/*border: 2px solid lightgrey;*/
	}

	#foodie{
		height: 100%;
		font-size: 7rem;
		font-family: 'PT sans';
		position: relative;
		color: #a9a9a9;

		/*border: 2px solid lightgrey;*/
	}

	#foodie > p{
		position: absolute;
		top: 0.1em;
		left: 0.35em;
		transform: rotate(-90deg);
		transform-origin: center bottom;	
	}

	#temp{
		height: 50%;
		
		/*border: 2px solid lightgrey;*/
	}

	#full-stack-dev{
		height: 50%;
		font-size: 2.2rem;
		font-weight: bold;
		font-family: 'Ubuntu',serif;
		padding-top: 0.2em;
		color: #DF5D86;

		/*border: 2px solid lightgrey;*/
	}

	#graffiti-row-3{
		height: 20%;

		/*border: 2px solid grey;*/
	}

	#front-end-dev{
		height: 100%;
		font-size: 3.8rem;
		font-family: 'Ubuntu',serif;
		padding-left: 0.6em;
		color: #8560a8;

		/*border: 2px solid lightgrey;*/
	}

	#inquisitive-n-python{
		height: 100%;
		padding: 0;	
	
		/*border: 2px solid lightgrey;*/
	}
	

	#inquisitive-n-python > div:nth-child(1){
		height: 50%;
		font-size: 4.2rem;
		font-family: 'Ubuntu',serif;
		font-weight: bold;
		color: #ADDF5C;
		
		/*border: 2px solid lightgrey;*/
	}
	#inquisitive-n-python > div:nth-child(2){
		height: 50%;
		padding-top: 0.4em;
		font-size: 2.5rem;
		font-family: 'Ubuntu',serif;
		text-align: right;
		color: #4CC696;

		/*border: 2px solid lightgrey;*/
	}

	#introvert{
		height: 100%;
		position: relative;


		/*border: 2px solid lightgrey;*/
	}

	#introvert > p{
		position: absolute;
		bottom: 40%;
		transform: rotate(-90deg);
		transform-origin: bottom;
		font-family: 'Ubuntu',serif;
		font-size: 3em;
		color: #3399ff;

		/*border: 2px solid lightgrey*/
	}


	#graffiti-row-4{
		height: 20%;

		/*border: 2px solid grey;*/
	}

	#ml{
		height: 100%;
		font-size: 4rem;
		text-align: right;
		font-family: 'News Cycle',serif;
		font-weight: bold;
		color: #d94f4f;

		/*border: 2px solid lightgrey;*/
	}

	#ml > span{
		color: #a9a9a9;
	}

	#learner{
		height: 100%;
		font-size: 2.5rem;
		text-align: right;
		padding-top: 2%;
		font-family: 'PT sans',serif;
		font-weight: bold;
		color: #903E58;
		
		/*border: 2px solid lightgrey;*/
	}

	#about-me-section{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#my-pic{
		height: 18rem;
		width: 18rem;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
		position: relative;
		top: -9rem;
		background-image: url('../images/face.jpg');
		background-size: cover;
		
		box-shadow: 0 0 0 5px white;
	}

	#about-me-text{
		
		width: 90%;
		margin-top: 5%;
		
		padding-left: 5em;
		padding-right: 5em;

		border-top: 1px solid lightgrey;
	}

	#about-me-text > p{
		font-size: 1.42em;
		font-family: 'Ubuntu',serif;
		text-align: justify;
		color: rgba(0,0,0,0.7);
		margin-bottom: 1em;
		position: relative;
		top: -4.5rem;

		/*border: 1px solid lightgrey;*/
	}

	/****************************************/

	#timeline{
		height: 173vh;
		
		background-color: #525252;
		
		/*border-bottom: 1px solid lightgrey;*/
	}

	#timeline >div{
		/*ektu jaiga rakhar jonno*/
		margin-top: 2em;
		
		height: 95%;

		/*border: 1px solid lightgrey;*/
	}

	.timeline-line{
		border-left: 5px dotted #fff;
		position: absolute;
		left: 50%;
		height: 87%;
		top: 5%;
	}

	.row-containing-event{
		/* just the bootstrap row nothing here */
	}

	.event-div{
		border-radius: 2px;	
		padding-left: 2.8em;
		padding-right: 2.8em;
		/*for that arrow*/
		position: relative;
		
		/*border: 1px solid orange;*/
	}

	.event-enclosure{
		font-size: 1.5em;
		/*above font size is important
		because everything inside this div
		i.e the picture and texts should 
		abide by the same font size.*/
		
		width: 100%;
		background-color: rgba(255,255,255,0.95);
		z-index: 10;
		box-shadow: 4px 4px 4px #323232;
		padding-bottom: 0.2em;
		
		/*border: 1px solid blue;*/
	}

	.event-enclosure:hover{
		box-shadow: 8px 8px 10px #323232;
		background-color: white;		
		transition: box-shadow 2000ms, ;

	}

	.event-enclosure-left{
		float: right;
		/*nahole heading upore uthe jai*/
	}

	.event-enclosure-right{
		float: left;
		margin-left: 0.2em;
		/*nahole heading upore uthe jai*/
	}

	.icon-div{
		margin-left: 1em;
		margin-top: 1em;
		margin-bottom: 1em;
		height: 4em;
		width: 4em;
		text-align: center;
		float: left;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.icon-div i{
		font-size: 2em;
		color: white
	}

	.event-description{
		margin-top: 1em;
		margin-left: 6em;
		margin-right: 1.1em;
		
		/*border: 1px solid orange;*/
	}

	.event-description h4{
		font-size: 1.2em;
		font-weight: bold;
		font-family: 'News Cycle', sans-serif;
		margin-top: 0;
		
		/*border: 1px solid lightgrey;*/
	}

	.event-description p{
		height: 4em;
		overflow-y: scroll;
		font-size: 0.9em;
		text-align: justify;
		color: #7A7A7A;
		font-family: 'PT sans';
	}

	.square-left{
		height: 0;
		width: 2em;
		border-left: 1.2em solid rgba(255,255,255,0.9);
		border-right: 0;
		border-top: 1.2em solid transparent;
		border-bottom: 1.2em solid transparent;

		position: absolute;
		right: 0;
		top: 35%;
	}

	.square-right{
		height: 0;
		width: 2em;
		border-left: 0;
		border-right: 1.2em solid rgba(235,255,230,1);
		border-top: 1.2em solid transparent;
		border-bottom: 1.2em solid transparent;

		position: absolute;
		left: 0.3em;
		top: 35%;
		
	}

	.circular-dot-left{
		/*blue dot*/

		height: 1.3em;
		width: 1.3em;
		border-radius: 50%;
		background-color: #3399ff;
		position: absolute;
		right: -0.8em;
		top: 42%;

		box-shadow: 0 0 0 2px #C4FFFF;

	}

	.circular-dot-right{
		height: 1.3em;
		width: 1.3em;
		border-radius: 50%;
		background-color: #8BC331;
		position: absolute;
		left: -0.5em;
		top: 42%;
		
		box-shadow: 0 0 0 2px #DBFFA0;
	}


	#timeline-message{
		
	}

	#timeline-message div{
		color: rgba(255,255,255,0.7);

		opacity: 1;
		font-family: 'Ubuntu', sans-serif;
	}

	#you{
		font-size: 6em;
	}

	#can{
		font-size: 9em;
	}

	#be-a{
		font-size: 4em;
	}

	#milestone{
		font-size: 9em;
	}

	#in-my{
		font-size: 4em;
	}

	#journey{
		font-size: 6em;
	}

	/****************************************/

	#skills{
		height: 100vh;
		background-color: rgba(0,0,0,1);
		
		border-bottom: 1px solid lightgrey;
	}

	.piechart-container{
		height: 60%;
		margin-top: 2%;

	}

	.pieChart{
		margin-top: 1em;
		box-shadow: inset 100px 15px 180px  rgba(133, 210, 231,0.3),
					inset -100px -15px 180px  rgba(133, 210, 231,0.3),
					0 0 40px rgba(190,190,255,0.3),
					0 0 40px rgba(190,190,255,0.3),
					0 0 40px rgba(190,190,255,0.3);
		border: 1px solid rgba(190,190,255,0.8);
	}

	#pieChart1{
		margin-left: 1em;
	}

	#pieChart2{
		margin-right: 1em;
	}

	#lower_panel{

	}

	#lower_panel{
		height: 30%;
	}

	#the-actual-panel{
		box-shadow: inset 0px 0px 150px  rgba(133, 210, 231,0.3),
					inset 0px 0px 150px  rgba(133, 210, 231,0.3),
					0 0 20px rgba(190,190,255,0.3),
					0 0 20px rgba(190,190,255,0.3),
					0 0 20px rgba(190,190,255,0.3);
					
		height: 70%;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2.5em;

		border: 1px solid rgba(190,190,255,0.8);
	}

	#cp{
		padding-top: 0.5em;
		padding-left: 0.5em;
		color: #BBFF4C;
		font-size: 14px;
		font-family: 'Source Code Pro', serif;
		
	}

	#button-box{
		
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2em;
		
	}

	#button-box > a > button{
		font-size: 1.5em;
		font-family: 'Source Code Pro',serif;
		height: 3.2em;
		width: 8em;
		
		margin-left: 4em;
		margin-right: 4em;
	
		
		background-color: #000;
		color: rgba(190,190,255,0.8);
		
		border: 1px solid rgba(190,190,255,0.8);
	}

	#button-box > a > button:hover{
		border: 1px solid skyblue;
		color: skyblue;
	}
	
	/****************************************/

		#portfolio{
		height: 100vh;
		background-color: #F9F9F9;

	}

	#portfolio > div{ /*the enclosing main column*/
		height: 100%;
	}

	#project-container{
		height: 100%;
		/*border: 1px solid red;*/
	}

	#project-container > div{
		height: 50%;
		/*border: 1px solid blue;*/
	}

	#project-container > div:nth-child(1){
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}
	#project-container > div:nth-child(2){
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
	#project-container > div:nth-child(3){
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
	}
	#project-container > div:nth-child(4){
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	#project-container > div:nth-child(5){
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#project-container > div:nth-child(6){
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.flash-card{
		height: 70%;
		width: 80%;	

		/*border: 2px solid skyblue;*/
		/*box-shadow: 5px 5px 5px #919293;*/
	}

	.card-image{
		height: 65%;
		position: relative;
	}

	.card-image > .front-face{
		position: absolute;
		width: 100%;

		-webkit-transform: perspective(600px) rotateX( 0deg );
		transform: perspective(600px) rotateX( 0deg );

		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;

		transition: transform .5s linear 0s;
		transition: -webkit-transform .5s linear 0s;
	}

	.card-image > .back-face{
		position: absolute;
		width: 100%;
		height: 100%;

		-webkit-transform: perspective(600px) rotateX( 180deg );
		transform: perspective(600px) rotateX( 180deg );

		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;

		transition: transform .5s linear 0s;
		transition: -webkit-transform .5s linear 0s;

		border-left: 1px solid lightgrey;
		border-top: 1px solid lightgrey;

	}

	.card-image:hover > .front-face{
		transform: perspective(600px) rotateX( -180deg );
		-webkit-transform: perspective(600px) rotateX( 180deg );
	}

	.card-image:hover > .back-face{
		transform: perspective(600px) rotateX( 360deg );
		-webkit-transform: perspective(600px) rotateX( 360deg );
	}
	
	#back-face-1{
		background-color: #cd595a;
	}

	#back-face-2{
		background-color: #6fbc6d;
	}

	#back-face-3{
		background-color: #788cb6;
	}

	#back-face-4{
		background-color: #fd5c63;
		/*delete the next 4 lines when u have a project to put here*/
		color: white;
		text-align: center;
		font-size: 2em;
		padding-top: 20%;
	}

	#back-face-5{
		background-color: #fd5c63;
		/*delete the next 4 lines when u have a project to put here*/
		color: white;
		text-align: center;
		font-size: 2em;
		padding-top: 20%;
	}

	#back-face-6{
		background-color: #fd5c63;
		/*delete the next 4 lines when u have a project to put here*/
		color: white;
		text-align: center;
		font-size: 2em;
		padding-top: 20%;
	}

	.icon-holder{
		height: 100%;
		width: 50%;
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;

		/*border: 1px solid red;*/
	}

	.icon-holder2{
		width: 100%;
	}

	.icon-holder > a > .fa-quora{
		font-size: 5em;
		color: white;
	}

	.icon-holder > a > .fa-github{
		font-size: 6em;
		color: white;
	}

	.icon-holder > a > .fa-youtube-play{
		font-size: 6em;
		color: white;
	}

	#front-face-1{
		height: 100%;
		background-image: url('../images/crawler.png');
		background-size: cover;
	}

	#front-face-2{
		height: 100%;
		background-image: url(../images/portfolio-image.png);
		background-size: cover;
	}

	#front-face-3{
		height: 100%;
		background-image: url(../images/bouncing-balls.png);
		background-size: cover;
	}

	#front-face-4{
		height: 100%;
		background-color: #a4c639;

		/*delete the next 4 lines when u have a project to put here*/
		color: white;
		font-size: 2em;
		text-align: center;
		padding-top: 20%;
	}

	#front-face-5{
		height: 100%;
		background-color: #13d0ab;

		/*delete the next 4 lines when u have a project to put here*/
		color: white;
		font-size: 2em;
		text-align: center;
		padding-top: 20%;
	}

	#front-face-6{
		height: 100%;
		background-color: #576396;
		
		/*delete the next 4 lines when u have a project to put here*/
		color: white;
		font-size: 2em;
		text-align: center;
		padding-top: 20%;
	}

	.flash-card-description{
		height: 35%;
		background-color: #fff;
		padding-left: 2%;
		padding-right: 2%;
		padding-bottom: 5%;

		border-left: 1px solid lightgrey;
		border-right: 1px solid lightgrey;
		border-bottom: 1px solid lightgrey;

		/*border: 1px solid red;*/
	}

	#title-heading{
		font-size: 1.8rem;
		font-weight: bold;
		font-family: 'News Cycle' , serif;
		padding-top: 0.5em;
		color: #535454;
		
		/*border: 1px solid red;*/
	}

	#project_elaborate{
		margin-top: 1%;
		font-family: 'Ubuntu' , serif;
		font-size: 1.3em;
		text-align: justify;
		color: #BBBBBB;

		/*border: 1px solid blue;*/
	}


	/*****************************************/

	#contact{
		height: 100vh;
		background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../images/black-board-1.jpg');
		background-size: cover;
		background-position: center center; 

		border-bottom: 1px solid lightgrey;
	}

	#contact > div{
		height: 100%;
		padding: 0;

		/*border: 1px solid lightgreen;*/
	}

	#contact ul{
		height: 100%;
		
		overflow: hidden;
		padding-top: 10em; /*positions the sticky note*/
		padding-left: 8em;
		padding-bottom: 10em;
		list-style: none;

		/*border: 1px solid red;*/
	}

	#contact ul li {
		text-decoration: none;
		height: 19em;
		padding: 1em;
		float: left;
		color: #393939;
		transition: transform .200s linear;

		position: relative;
	}

	#contact ul li:nth-child(1){
		width: 28em;
		margin-right: 3%;
		box-shadow: 0px 10px 8px rgba(0,0,0,0.6);
		background: linear-gradient(to bottom,#FFFFA5,#FFFFA5,#FFFFA5,#FFFFA5,#FFFFA5,#FEFEC8);
		transform: rotate(6deg);

		z-index: 3;
	}

	#contact ul li:nth-child(2){
		width: 28em;
		margin-left: 3%;
		box-shadow: 0px 10px 8px rgba(0,0,0,0.6);
		background: linear-gradient(to bottom,#FFC88C,#FFC88C,#FFC88C,#FFC88C,#FFC88C,#FFE2C3);
		transform: rotate(-4deg);
		
		z-index: 2;
	}

	#contact ul li:nth-child(3){
		width: 28em;
		margin-left: 3%;
		box-shadow: 0px 10px 8px rgba(0,0,0,0.6);
		background: linear-gradient(to bottom,#CEFC9E,#CEFC9E,#CEFC9E,#CEFC9E,#CEFC9E,#E0FFC0);
		transform: rotate(-4deg);
		
		z-index: 1;
	}

	#contact ul li p{
		padding-top: 4%;
		padding-left: 6%;
		line-height: 2em;
		font-family: 'Coming soon', cursive;
		font-size: 2.2rem;
		
	}

	#contact ul li:nth-child(3) > p:nth-child(1){
		padding-top: 5%;
		font-size: 4rem;
		color: rgba(0,0,0,0.8);
	}

	#contact ul li:nth-child(3) > p:nth-child(2){
		margin-top: -1em;
		
		/*border: 1px solid red;*/
	}

	#contact ul li:nth-child(3) > p > a:nth-child(1){
		font-size: 5.25rem;
		text-decoration: none;
		color: rgba(38, 41, 40,0.95);
		margin-left: 0.9em;
		margin-right: 0.1em;
	}

	#contact ul li:nth-child(3) > p > a:nth-child(2){
		font-size: 5.25rem;
		text-decoration: none;
		color: rgba(38, 41, 40,0.95);
		margin-left: 0.1em;
	}

	#for-now{
		margin-top: 0.3em;

		color: skyblue;
		font-size: 8.5em;
		font-weight: bold;
		line-height: 1.2em;
		font-family: 'News Cycle' , serif;
	}

	#for-now > br:nth-child(1){
		display: none;
	}

	#old-school{
		color: white;
		font-family: 'News Cycle' , serif;
		font-size: 5.5em;
		font-weight: 600;


	}

	#view-resume{
		height: 10%;
		width: 90%;
		font-size: 2em;
		font-family: 'PT sans' , serif;
		margin-top: 4%;
		background-color: rgba(0,0,0,0.7);
		color: white;
		border: 2px solid black;
	}

	#view-resume:hover{
		background-color: rgba(0,0,0,1);
	}

	#view-resume:focus{
		outline:0;
	}

}